
<footer>

<div class="row">
 <div class="col-lg-6 col-md-6 center-block">
        <div class="" >
            <ul class="list-unstyled">

                <li ng-class="{active: selectedLink==0}">
                    <a href="#/" ng-click="selectedLink=0">Home</a>
                </li>

                <li ng-class="{active: selectedLink==1}">
                    <a href="#/test" ng-click="selectedLink=1">Take Test</a>
                </li>
                <li ng-class="{active: selectedLink==2}">
                    <a href="#/about" ng-click="selectedLink=2">About</a>
                </li>

            </ul>

        </div>
        <p> Developed by Bassam Al Rubaye. </p>
 </div>
</div>

</footer>